@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --main-bg: #ffcdd4;
    --accent: #e57d90;
    --main-font: 'Montserrat', sans-serif;
    font-family: var(--main-font);
    font-size: 24px;
    background-color: var(--main-bg);
}

* {
    margin: 0;
    padding: 0;
    border: 1px dotted red;
    box-sizing: border-box;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.header {
    top: 0;
    position: sticky;
    background-color: var(--accent);
}

.header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content>div {
    height: 100vh;
}

.hero-main {
    display: flex;
    font-size: 3rem;
    justify-content: center;
    align-items: center;
}

.hero-container {
    text-align: center;
}

.middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.explainer {
    display: flex;
    flex-direction: row;
}

.explainer>div>img {
    height: 8rem;
}

.end {}


.footer {
    background-color: var(--accent);
}

.footer-text {
    font-size: 0.5rem;
    text-align: center;
}