@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: black;
}

h1 {
    font-size: 72px;
    color: whitesmoke;
}

#happy-cat {
    height: 500px;
    width: 500px;
}

a {
    text-decoration: none;
    color: whitesmoke;
}